*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    /* jitni humne height width set ki hai usi ke andr border area count ho */
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    /* agr hum chahte hai ki navbar me jo bhi hai sara ek hi line me aa jaye we will use flex */
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image : url("amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
     border: 1.5px solid white;
} 
/* box2 */
.add-first{
    color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
   width: 620px;
   height: 40px;
    background-color: pink;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 500px;
    font-size: 1rem;
    border: none;
    /* by default border will remove thru none border */
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(189, 147, 33);
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f32;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
body {
    font-family: "Lato", sans-serif;
}
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    /* look towards overlapping of the items , elements appear
    top on the others */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /* All me jo bhi elements hai unhe hide krke rkhta hai
    if we will not use this then all elemnts will overlap the all */
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 650px) {
    /* This @media rule specifies a media query that targets screens 
    with a maximum height of 650 pixels. */
    .sidenav {padding-top: 30px;}
    .sidenav a {font-size: 18px;}
  }
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
}
.expanding-link{
    display: inline-block;
    padding: 10px 20px;
    transition: padding 0.3s;
}
.expanding-link:hover{
padding: 10px 25px;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("hero_image.jpg");
    animation: changeImage 20s linear infinite;
    background-size: cover;
    height: 400px;
    /*to show the image of above have to set height othewise it will not show on the page  */
    display: flex;justify-content: center;
    align-items: end;
}
@keyframes changeImage{
    0%{
        background-image: url("her.jpg");
    }
    25%{
        background-image: url("her1.jpg");
    }
    50%{
        background-image: url("her2.jpg");
    }
    75% {
        background-image: url("her3.jpg");
    }
    100%{
        background-image: url("her4.jpg");
    }

}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* vertical and horizontal resp. */
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}
.footer{
    margin-top: 15px;
}
.container{
    background-color:wheat ;
    align-items: center;
    justify-content: center;
    color: #111;
    font-size: 0.85rem;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
}
.container-heading{
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image : url("amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 50px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    font-size: 0.7rem;
    text-align: center;
}
.copyright{
    pad: 5px;
    font-size: 0.7rem;
    text-align: center;
}